# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Data — generowane przez Sparka
data/alerts.csv/
data/_checkpoint-alerts/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Model files
*.pkl
